.parent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.circle{
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}